.wrapper 
{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

nav
{
    background-color: grey;
    display: flex;
    justify-content: space-between;
    
}

.social a
{
    justify-content: center;
}

.social ul
{
    flex: 1 1 0;
}
nav ul.social li
{
  flex: 1 1 0;
  display: flex;
}
nav a
{
    justify-content: center;
    display: block;
    text-decoration: none;
    padding: 10px;
    
}

nav ul
{
    display: flex;
    list-style-type: none;
    
    
}

nav li
{
    flex: 1 1 0;
}

